@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




/* Font styling */
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Header Styling */
#header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position:  left, bottom right;
    
    
}


/* Shared Style */


.sec-bg{
    background: #FFF8F3;
}

.text-primary {
    color: #fd6e0a;
}

.dark2 {
    color: #474747;
}

.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.about-description {
    font-size: 18px;
    font-weight: 200;
    color: #141414;

}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    width: 150px;
    height: 64px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    line-height: auto;
    padding: 18px;
}

.btn-primary-2 {
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    width: 200px;
    height: 64px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    line-height: auto;
    margin-right: 30px;
    padding: 18px;
}

.btn-contact {
   
    font-weight: bold;
    padding: 18px 35px;
    width: 160px;
    height: 64px;
    border:#FD6E0A solid;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    line-height: auto;
    background: transparent;
    padding: 18px;
}




/* Nav Style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav ul{
    display: flex;
    align-items: center;

}
nav ul>li {
    list-style: none;
    margin-right: 51px;

}
nav li a {
    text-decoration: none;
    font-size: 20px;
}


/* Banner Style */

.banner {
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 38px;
}


.banner {
    display: flex;
}
.banner-content{
    max-width:580px;
}


.banner-subtitle {
    font-size: 45px;
    font-weight: 600;
    font-family: "Open Sans", serif;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 800;
    font-family: "Open Sans", serif;
    margin-bottom: 20px;
}

.banner-profile {
    display: flex;
    width: 584px;
}

.banner-description {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
    
}

/* about Styling */

.about {
    margin: 130px auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 131px 156px;
    text-align: center;
}

.about-container {
    background: #FFFFFF;
    
    width: 827px;
    height: auto;
    border: #000000 solid;
    
}

.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.item-description {
    font-weight: 600;
    
}

.item-title {
    font-weight: 100;
}
